<form {{action "save" on="submit"}}>
  <div>
    <label>
      Name
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <label>
      Folder
      {{input type="text" value=model.folder}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
