<p>
  {{link-to "Instrument list" "instruments.index" }}
</p>

<h1>Instrument show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Folder:</strong>
  <span>{{model.folder}}</span>
</p>

